<p id="notice"><%= notice %></p>

<p>
  <strong>Vondau:</strong>
  <%= @bangxephang.vondau %>
</p>

<%= link_to 'Edit', edit_bangxephang_path(@bangxephang) %> |
<%= link_to 'Back', bangxephangs_path %>
