<div id="banner">
			
			<form class="search">Seach:
					<input type="text" value="Hãy Nhập Tù Khóa Tìm Kiếm" class="s"/>
					<input type="submit" value="" class="searchsubmit">
			</form><!--end search-->
			<ul class="social">
				<li><span>Follow Us :</span></li>
				<li><a href="facebook.com" class="s1"></a></li>
				<li><a href="#" class="s2"></a></li>
				<li><a href="#" class="s3"></a></li>
				<li><a href="#" class="s4"></a></li>
				<li><a href="#" class="s5"></a></li>
			</ul><!--end social-->

<div id="head_top2">
            	<div id="logo">
                	<a href="#"><img src="img/logomenu.png" /> </a>
                </div>
                <div id="banner">
                
                	<a href="#">  <img src="button/bn1.PNG" /></a>
                    	<a href="login.php"><input class="banner1" type="submit" name="login" id=" login" value="Login" style=" width:90px; height:50px;background-color:#09F"/></a>
                </div>
                	<div style="clear:both"></div>
                
</div>

	
</div>

<hr align="center" width="100%">