<div id="content">
	<nav class="navbar navbar-default">
  <div class="container-fluid">    
    <div class="navbar-header">
      <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting">
        <div style="font-weight: 900;color: red">BUNDESLIGA</div>
    </a>     
    </div>
    
        
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#"><img src="assets/logo/1.png" /></a></li>
        <li><a href="#"><img src="assets/logo/2.png" /></a></li>
        <li><a href="#"><img src="assets/logo/3.png" /></a></li>
        <li><a href="#"><img src="assets/logo/4.png" /></a></li>
        <li><a href="#"><img src="assets/logo/5.png" /></a></li>
        <li><a href="#"><img src="assets/logo/6.png" /></a></li> 
        <li><a href="#"><img src="assets/logo/7.png" /></a></li>
        <li><a href="#"><img src="assets/logo/8.png" /></a></li>
        <li><a href="#"><img src="assets/logo/9.png" /></a></li>
        <li><a href="#"><img src="assets/logo/10.png" /></a></li>
        <li><a href="#"><img src="assets/logo/11.png" /></a></li>
        <li><a href="#"><img src="assets/logo/12.png" /></a></li>
        <li><a href="#"><img src="assets/logo/13.png" /></a></li>
        <li><a href="#"><img src="assets/logo/14.png" /></a></li>
        <li><a href="#"><img src="assets/logo/15.png" /></a></li>
        <li><a href="#"><img src="assets/logo/16.png" /></a></li>      
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="left">
<div id="content_left">
<table width="100%" class="table_nb">
<tr>
    	<td class="tuade" background="assets/content/td.png" colspan="3">
        <a href="#>"><b><p>Tin Nổi Bật</p></b></a>
        </td>

    </tr>
</table>
</div>
<div id="content_noibat">
<table width="100%" class="table_ltd" >
<tr>
    	<td class="tuade" background="assets/content/td.png" colspan="10">
        <a href="#"><b>
        <p>Lịch Thi Đấu Hôm Nay</p></b></a>
        </td>

    </tr>
                	<tr  bgcolor="#33CCFF" align="center">
                    	<td colspan="4">Trận Đấu</td>
                        <td colspan="3">Châu Á</td>
                        <td colspan="3">Bàn Thắng</td>
                        
                    </tr>
                    <tr bgcolor="#E5E5E5">
                    	<td height="24" rowspan="3">1/12</td>
                        <td align="right" style="color:#F00">Bayern München</td>
                        <td style="color:#090">19:30</td>
                        <td>Bvb Dormun</a></td>
                        <td align="center"><strong>1/4 : 0</strong></td>
                                                					
                        <td>0.89</td>
                        <td>-0.95</td>
                        <td><strong>2 3/4</strong></td>
                        <td>0.96</td>
                        <td>0.94</td>
                        
                    </tr>
                    <tr bgcolor="#E5E5E5">
                    	<td align="right">Borussia MG</td>
                        <td style="color:#090">19:30</td>
                        <td style="color:#F00">Chelsea</a></td>
                        <td align="center"><strong>0 : 1/4</strong></td>
                                                					
                        <td>0.97</td>
                        <td>0.97</td>
                        <td><strong>2</strong></td>
                        <td>0.81</td>
                        <td>-0.91</td>
                    </tr>
                   


                </table>
                       <table width="100%" class="table_vd" align="center">
	<tr>
    	<td class="tuade" background="assets/content/td.png" colspan="4">
        <a href="#"><b>
        <p>Truyền Thông</p></b></a>
        </td>

    </tr>
    				<tr>
                    <td>
					<img width="663" height="200"  src="assets/content/ttxh1.PNG" frameborder="0" allowfullscreen><br />
                    </td>
                    </tr>
                    	<tr>
                    <td>
					<img width="663" height="200"  src="assets/content/ttxh2.PNG" frameborder="0" allowfullscreen><br />
                    </td>
                    </tr>
                    	<tr>
                    <td>
					<img width="663" height="200"  src="assets/content/ttxh3.PNG" frameborder="0" allowfullscreen><br />
                    </td>
                    </tr>			
</table>
</div>
</div>
<div id="right">
                <div class="block_timkiem">

                <table  class="right_xh" border="1px" bordercolor="#00CCFF">
                	     <tr>
                    	<td colspan="6" style="font-size:20px; background:url(assets/content/bg_dmTitle.png)"><b>Bảng Xếp Hạng</b></td>
                    </tr>
                	<tr  bgcolor="#33CCFF">
                   		 <td>LG</td>
                    	<td>TT</td>
                        <td>Đội Bóng</td>
                        <td>Trận</td>
                        <td>+/-</td>
                        <td>Điểm</td>
                        
                    </tr>
                    <tr>
                    <td><img src="assets/logo/fcb.png" /></td>
                    	<td>1</td>
                        <td style="color:#F00"><b>Bayern München</b></td>
                        <td>1</td>
                        <td>1</td>
                        <td>3</td>
                        
                    </tr>
                    <tr bgcolor="#D6D6D6">
                    <td><img src="assets/logo/bvb.png" /></td>
                    	<td>2</td>
                        <td style="color:#F00"><b>Bvb Dormun</b></td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        
                    </tr>
                    <tr>
                    <td><img src="assets/logo/1.png" /></td>
                    	<td>3</td>
                        <td style="color:#F00"><b>Wolfsburg</b></td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        
                    </tr>
                    <tr bgcolor="#D6D6D6">
                    <td><img src="assets/logo/2.png" /></td>
                    	<td>4</td>
                        <td><b>Leverkusen</b></td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        
                    </tr>
                    <tr>
                    <td><img src="assets/logo/3.png" /></td>
                    	<td>5</td>
                        <td><b>Borussia MG</b></td>
                        <td>1</td>
                        <td>4</td>
                        <td>3</td>
                        
                    </tr>
                    <tr bgcolor="#D6D6D6">
                    <td><img src="assets/logo/4.png" /></td>
                    	<td>6</td>
                        <td><b>Schalke 04</b></td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        
                    </tr>
                    <tr>
                    <td><img src="assets/logo/5.png" /></td>
                    	<td>7</td>
                        <td><b>Augsburg</b></td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        
                    </tr>
                    <tr bgcolor="#D6D6D6">
                    <td><img src="assets/logo/6.png" /></td>
                    	<td>8</td>
                        <td><b>TSG Hoffenheim</b></td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        
                    </tr>
                    <tr>
                    <td><img src="assets/logo/7.png" /></td>
                    	<td>9</td>
                        <td><b>Hannover 96</b></td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        
                    </tr>
                    <tr bgcolor="#D6D6D6">
                    <td><img src="assets/logo/8.png" /></td>
                    	<td>10</td>
                        <td><b>Frankfurt</b></td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        
                    </tr>
                    <tr>
                    <td><img src="assets/logo/9.png" /></td>
                    	<td>11</td>
                        <td><b>Paderborn</b></td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        
                    </tr>
                    <tr bgcolor="#D6D6D6">
                    <td><img src="assets/logo/10.png" /></td>
                    	<td>12</td>
                        <td><b>Koln</b></td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        
                    </tr>
                    <tr>
                    <td><img src="assets/logo/11.png" /></td>
                    	<td>13</td>
                        <td><b>Mainz 05</b></td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        
                    </tr>
                    <tr bgcolor="#D6D6D6">
                    <td><img src="assets/logo/12.png" /></td>
                    	<td>14</td>
                        <td><b>Berlin</b></td>
                        <td>1</td>
                        <td>-1</td>
                        <td>0</td>
                        
                    </tr>
                    <tr>
                    <td><img src="assets/logo/13.png" /></td>
                    	<td>15</td>
                        <td><b>Hamburg</b></td>
                        <td>1</td>
                        <td>-2</td>
                        <td>0</td>
                        
                    </tr>
                    <tr bgcolor="#D6D6D6">
                    <td><img src="assets/logo/14.png" /></td>
                    	<td>16</td>
                        <td><b>Stuttgart</b></td>
                        <td>1</td>
                        <td>-2</td>
                        <td>0</td>
                        
                    </tr>
                    <tr>
                    <td><img src="assets/logo/15.png" /></td>
                    	<td>17</td>
                        <td><b>Bremen</b></td>
                        <td>1</td>
                        <td>-2</td>
                        <td>0</td>
                        
                    </tr>
                    <tr bgcolor="#D6D6D6">
                    <td><img src="assets/logo/16.png" /></td>
                    	<td>18</td>
                        <td><b>Freiburg</b></td>
                        <td>1</td>
                        <td>-4</td>
                        <td>0</td>
                        
                    </tr>
                    <tr>
                    	<td colspan="6" bgcolor="#CCCCCC"><a href="#" style="font-size:14px;font-weight:800">>> Xem Chi Tiết.......</a></td>
                        
                    </tr>
                </table>     
                <div class="block_timkiem">
                    
                    <div class="block_timkiem_main">
                    </div>
                </div>
                
                <div class="block_danhmuc">
                    <div class="block_danhmuc_top">
                    	<div class="icon_dm">
                    		<img src="assets/content/icon_bd.png" alt="hotrott" hspace="5" /> &nbsp;
                        </div>
                        <div class="dm_text">
                      		 Danh Mục Tin Mới Nhất
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="block_dm_main">
                    	<strong><div><a href="#">
                   	    Có một Rooney toàn năng</a></div>
                        
                        <div><a href="#">Xem Thêm</a></div>
                    </strong></div>
                </div>
                
                 <div class="block_danhmuc2">
                    <div class="block_danhmuc_top">
                    	<div class="icon_dm">
                    		<img src="assets/content/icon_bd.png" alt="hotrott" hspace="5" /> &nbsp;
                        </div>
                        <div class="dm_text">
                      		 Tiêu Điểm
                        </div>
                        <div class="icon_active">
                    		<img src="assets/content/icon_active.png" alt="hotrott" hspace="5" /> &nbsp;
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="block_dm_main">
                    	<div><a href="http://bongdaplus.vn/tin-bai/30/111025/dem-nay-29-12-co-tran-nao.bdplus" title="Đêm nay (29/12), có trận nào?"><strong>Đêm nay (29/12), có trận nào?</strong></a><a href="#"></a></div>
                        <div><a href="#"><strong>Xem Thêm</strong></a></div>
                    </div>
                </div>
                
                <div class="block_danhmuc2">

                    <div class="block_dm_main">
                    	
                    </div>
                </div>
                
                <div class="block_timkiem">
                    <div class="block_timkiem_top">
                        <div class="tk_text">
                        <strong>Quảng Cáo Game</strong>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="block_timkiem_main">
                    	<div class="qc_nd">
                    	<a href="#"><img src="assets/content/logo_qc1.jpg" alt="quangcao" /><br /></a>
                        </div>
                        <div class="qc_active" align="center">
<br /><img src="assets/content/logo_qc2.jpg" alt="quangcao" />
                        </div>
                    </div>
                </div>
                
                <div class="block_timkiem">
                    <div class="block_timkiem_top">
                    	<div class="icon">
                    	<img src="assets/content/icon_hotrott.png" alt="hotrott" hspace="5" /> &nbsp;
                        </div>
                        <div class="tk_text">
                       	 Thống kê truy cập
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="block_timkiem_main">
                    	<table id="tb_hotrott">

                            <tr height="25px">
                            	<td width="25px">
                                	<img src="assets/content/icon_khach.gif" />
                                </td>
                                <td>
                                	Người Truy Cập Hôm Nay: 0
                                
                                </td>
                            </tr>
                            <tr height="25px">
                            	<td>
                                	<img src="assets/content/users.png" />
                                </td>
                                <td>
                                	Người Truy Cập tuần này: 0                                
                                </td>
                            </tr>
                            <tr height="25px">
                            	<td>
                                	<img src="assets/content/icon_khachthang.gif" />
                                </td>
                                <td>
                                	Người Truy Cập trong tháng: 0
                                
                                </td>
                            </tr>
                            <tr height="25px">
                            	<td>
                                	<img src="assets/content/icon_tongkhach.gif"/>
                                </td>
                                <td>
                                	Tổng lượng truy cập: 0</td>
                            </tr>
                           
                        </table>
                    </div>
                </div>
</div>
</div>
<hr align="center" width="99%">
