<div id="content_noibat">
<table width="100%" class="table_about" align="center" cellpadding="5" cellspacing="5">
	<tr>
    	<td colspan="2" class="tuade" background="img/td.png" >
        <a href="#"><b>
        <p>DFL Tin Tức</p></b></a>
        </td>

    </tr>
    	<tr>
        <td><img width="254" height="145" src="img/img_about1.PNG" frameborder="0" allowfullscreen></td>
    	<td>
			<a href="about1.php"><b><h2>Công nghệ xác nhận</h2></b> Bundesliga sẽ sử dụng công nghệ đường biên ngang tại 18 sân vận động của nó từ đầu mùa giải 2015/16 sau khi một phần lớn có bầu từ 18 câu lạc bộ. hơn</a><br />
        </td>

    </tr>
    </table>

</div>
