

 <div style="clear:both"></div>
        <div id="footer">
        	<div class="tt1">
            Giải Bóng Đá Đức Bundesliga 
            </div>
          <div class="tt2">
              <div>------------------------</div>
                <div>------------------------</div>
                <div>------------------------</div>
          </div>
             <div class="tt3">
                <a href="#"><img src="img/logo_bt.PNG" align="absmiddle" /></a>
               
            </div>
             <div class="tt4">
               <div><span class="nd_gioithieu">------------------------</span></div>
                <div>------------------------</div>
               <div>------------------------</div>
            </div>
        </div>
