<p id="notice"><%= notice %></p>

<p>
  <strong>Trandau:</strong>
  <%= @chitiettrandau.trandau %>
</p>

<%= link_to 'Edit', edit_chitiettrandau_path(@chitiettrandau) %> |
<%= link_to 'Back', chitiettrandaus_path %>
