#content{
	width:1000px;
	margin-top:10px;
	background:url(../assets/logo/cont_main.png) repeat-y;
	margin:auto;
	position:static;
}
#left{
	width:67%;
	float:left;
	margin-top:10px;
	margin-left:10px;
}
#right{
	width:30%;
	float:right;
	margin-top:10px;
	margin-right:10px;
}



