/* CSS Document */


#footer{
width:1000px;
height:167px;
background:url(../img/cont_bottom.png) no-repeat;
font-size:12px;
margin-top:10px;
color:#000;
}
.tt1{
width:100%;
text-align:center;
font-weight:bold;
color:#000066;
font-size:20px;
padding-top:15px;
}
.tt2{
width:350px;
line-height:2em;
float:left;
padding-top:20px;
padding-left:15px;

}
.tt3{
width:259px;
float:left;
line-height:2em;
padding-top:20px;
}
.tt4{
width:350px;
line-height:2em;
float:left;
text-align:right;
padding-top:20px;

}